<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://mealmateapi-dwa9e2g5emc6hmfx.eastasia-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>016ea372-0cc3-4cbd-af6e-ca3374f95edf</ProjectGuid>
    <PublishUrl>https://mealmateapi-dwa9e2g5emc6hmfx.scm.eastasia-01.azurewebsites.net/</PublishUrl>
    <UserName>$mealmateapi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>